<template name="login">
	<label for="login-email">Email</label><br>
	<input class="form-control" id="login-email" type="email">
	<label for="login-password">Пароль</label><br>	
	<input class="form-control" id="login-password" type="password"><br>
	<button id="login-button" type="button" class="btn btn-primary">Увійти</button> 
</template>