<head>
  <title>sanse</title>
</head>
<body>
  <div class="container">
    <div class="row">
      {{#if currentUser}}
        <div class="col-md-12">
          {{> content}}
        </div>
      {{else}}
        <p class="choice"><a id="loginLink" href="#">Увійти</a> / <a id="registerLink" href="#">Зареєструватися</a></p>
        <div class="col-md-12 login" id="loginForm">
          {{> login}}
        </div>
        <div class="col-md-12 register" id="registerForm">
          {{> register}}
        </div>
      {{/if}} 
    </div>
  </div>
</body>
