<template name="register">
	<label for="email">Email</label><br>
  	<input class="form-control" id="email" type="email">
	<label for="username">Ім'я</label><br>
  	<input class="form-control" id="username" type="text">
  	<label for="password">Пароль</label><br>
	<input id="password" type="password" class="validate form-control"><br>
   	<button id="register-btn" type="button" class="btn btn-primary">Зареєструватися</button>
</template>